.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    height: 30px;
    width: 30px;
}

.viewer {
    width: 400px;
    height: 220px;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 3%;
}

.slide {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.icons {
    border: 1px solid gray;
    display: flex;
    border-radius: 50%;
}

.index {
    display: flex;
    justify-content: center;
    margin: 8px;
}

.round {
    border: 2px solid rgb(66, 66, 66);
    height: 13px;
    width: 13px;
    margin: 3px;
    border-radius: 50%;
    background-color: rgb(201, 201, 201);
}

.whiteRound {
    background-color: white;
}